/*would be best to rip out twitter variables... and place in here really... can use the less one as a guide perhaps. can leave as stand alone though. and accept no changes will reach the twitter styles */
/* Layout */
/* the grid */
/* prot marking */
/* nav bar */
/* footer */
/*Colour Scheme*/
/*Default theming. DONT CHANGE*/
/* typography */
/* animation time */
/* Fontello */
/* line 1, ../sass/specific/_mainView.scss */
.pushLeft {
  padding-left: 4%;
}

/* line 5, ../sass/specific/_mainView.scss */
#loadingOverlay {
  display: none;
  background-image: url(../img/ajax-loader.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* line 10, ../sass/specific/_mainView.scss */
#loadingOverlay:after {
  color: white;
  font-size: 2em;
  position: absolute;
  top: 48%;
  width: 100%;
  text-align: center;
}

/* line 21, ../sass/specific/_mainView.scss */
#replyOverlay {
  opacity: 0.9;
}
/* line 24, ../sass/specific/_mainView.scss */
#replyOverlay .container {
  text-align: center;
  height: 95%;
}
/* line 28, ../sass/specific/_mainView.scss */
#replyOverlay .container textarea.replyTextArea {
  height: 70%;
  margin-top: 50px;
  width: 95%;
  font-size: 1em;
  line-height: 1em;
  padding: 10px;
}
/* line 36, ../sass/specific/_mainView.scss */
#replyOverlay .container button {
  width: 150px;
  font-size: 0.9em;
}

/* line 50, ../sass/specific/_mainView.scss */
.upperCurrentTitle {
  font-size: 1em;
  display: inline-block;
  float: none;
  width: 50%;
  overflow: hidden;
  position: relative;
  -ms-text-overflow: clip ellipsis;
  text-overflow: clip ellipsis;
  white-space: nowrap;
}

/* line 62, ../sass/specific/_mainView.scss */
#currentTitle {
  padding: 10px 15px;
  color: white;
  margin: 0;
  background: #1a1a1a;
  line-height: 30px;
  font-size: 1.1em;
}

/* line 71, ../sass/specific/_mainView.scss */
#main {
  height: 100%;
  margin-bottom: 20px;
}
/* line 75, ../sass/specific/_mainView.scss */
#main .header {
  width: 100%;
}
/* line 79, ../sass/specific/_mainView.scss */
#main .header + .body {
  padding-top: 0;
}

/* line 88, ../sass/specific/_mainView.scss */
.controlActions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* line 95, ../sass/specific/_mainView.scss */
.controlActionButton {
  background: none repeat scroll 0 0 #111111;
  color: white;
  display: inline-block;
  float: right;
  font-size: 1.1em;
  min-width: 70px;
  opacity: 0.95;
  padding: 0.6em 0.5em;
  min-height: 53px;
  text-align: center;
}
/* line 108, ../sass/specific/_mainView.scss */
.controlActionButton.reply:after {
  content: "reply";
}
/* line 114, ../sass/specific/_mainView.scss */
.controlActionButton.newTopic:after {
  content: "new";
}
/* line 120, ../sass/specific/_mainView.scss */
.controlActionButton.Next.Page:after {
  content: "next";
}
/* line 126, ../sass/specific/_mainView.scss */
.controlActionButton.Previous.Page:after {
  content: "prev";
}
/* line 132, ../sass/specific/_mainView.scss */
.controlActionButton.First.Page:after {
  content: "first";
}
/* line 138, ../sass/specific/_mainView.scss */
.controlActionButton.Last.Page:after {
  content: "last";
}
/* line 144, ../sass/specific/_mainView.scss */
.controlActionButton.refresh:after {
  content: "↻";
}
/* line 149, ../sass/specific/_mainView.scss */
.controlActionButton:last-child {
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -ms-border-radius: 5px 0 0 0;
  -o-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}

/* line 154, ../sass/specific/_mainView.scss */
#leftPanel {
  background-color: #202020;
  color: white;
  height: 100%;
  position: fixed;
  padding-top: 63px;
  width: 45%;
  z-index: 1000;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 7px 5px #151515;
  -moz-box-shadow: 0 0 7px 5px #151515;
  box-shadow: 0 0 7px 5px #151515;
  transform: translate3d(-91%, 0, 0);
  -webkit-transform: translate3d(-91%, 0, 0);
  -webkit-transition: -webkit-transform 400ms ease-in;
  -moz-transition: -moz-transform 400ms ease-in;
  -o-transition: -o-transform 400ms ease-in;
  transition: transform 400ms ease-in;
}
/* line 171, ../sass/specific/_mainView.scss */
#leftPanel .row {
  height: 100%;
}
/* line 175, ../sass/specific/_mainView.scss */
#leftPanel.inView {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 400ms ease-out;
  -moz-transition: -moz-transform 400ms ease-out;
  -o-transition: -o-transform 400ms ease-out;
  transition: transform 400ms ease-out;
}

/* line 182, ../sass/specific/_mainView.scss */
#topicList, #boardList, #postList {
  -webkit-box-shadow: 0 3px 7px 0px #222222;
  -moz-box-shadow: 0 3px 7px 0px #222222;
  box-shadow: 0 3px 7px 0px #222222;
  font-size: 0.9em;
}

/* line 187, ../sass/specific/_mainView.scss */
#topicList, #postList {
  font-size: 0.8em;
}

/* line 191, ../sass/specific/_mainView.scss */
.itemTitle {
  color: white;
}

/* line 196, ../sass/specific/_mainView.scss */
#topicList > .topic {
  color: white;
  font-family: 'Arial';
  height: 100px;
  font-weight: 100;
  border-bottom: 2px solid #1a1a1a;
}
/* line 204, ../sass/specific/_mainView.scss */
#topicList .row {
  height: 100%;
  margin: 0;
}
/* line 207, ../sass/specific/_mainView.scss */
#topicList .row .columns {
  height: 100%;
}
/* line 212, ../sass/specific/_mainView.scss */
#topicList .topicName {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 218, ../sass/specific/_mainView.scss */
#topicList .topicInner {
  padding: 10px 0;
  height: 100%;
  position: absolute;
  display: table;
}
/* line 224, ../sass/specific/_mainView.scss */
#topicList .topicInner span {
  display: table-cell;
  vertical-align: middle;
}
/* line 231, ../sass/specific/_mainView.scss */
#topicList .topicInfo {
  padding: 10px;
  font-size: 0.8em;
  margin-left: 0;
  padding-left: 15px;
  background: #222;
}
/* line 240, ../sass/specific/_mainView.scss */
#topicList .topicInfo ul {
  height: 100%;
}
/* line 242, ../sass/specific/_mainView.scss */
#topicList .topicInfo ul > li {
  height: 33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #adadad;
}

/* line 253, ../sass/specific/_mainView.scss */
a {
  text-decoration: none !important;
}

/* line 258, ../sass/specific/_mainView.scss */
#boardList > .board {
  color: white;
  font-family: 'Arial';
  height: 100px;
  font-weight: 100;
  border-bottom: 2px solid #1a1a1a;
}
/* line 267, ../sass/specific/_mainView.scss */
#boardList .row {
  height: 100%;
  margin: 0;
}
/* line 270, ../sass/specific/_mainView.scss */
#boardList .row .columns {
  height: 100%;
}
/* line 275, ../sass/specific/_mainView.scss */
#boardList .boardName {
  line-height: 28px;
}
/* line 279, ../sass/specific/_mainView.scss */
#boardList .boardInner {
  padding: 10px;
  padding-left: 15px;
  height: 100%;
  position: absolute;
  display: table;
}
/* line 286, ../sass/specific/_mainView.scss */
#boardList .boardInner span {
  display: table-cell;
  vertical-align: middle;
}

/* line 295, ../sass/specific/_mainView.scss */
#postList > .post {
  color: white;
  font-family: 'Arial';
  font-weight: 100;
  font-size: 0.9em;
  position: relative;
  min-height: 110px;
}
/* line 303, ../sass/specific/_mainView.scss */
#postList > .post .postHeader {
  background-color: #151515;
  border-top: 1px solid black;
  height: 40px;
  display: block;
  padding: 10px;
}
/* line 311, ../sass/specific/_mainView.scss */
#postList > .post .userName {
  float: left;
}
/* line 314, ../sass/specific/_mainView.scss */
#postList > .post .date {
  float: right;
}
/* line 318, ../sass/specific/_mainView.scss */
#postList > .post .postBody {
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 20px;
}
/* line 326, ../sass/specific/_mainView.scss */
#postList > .post .postHeader, #postList > .post .postBody {
  padding-left: 15px;
  padding-right: 50px;
}
/* line 331, ../sass/specific/_mainView.scss */
#postList > .post .quoted-message {
  border: 1px dotted white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-style: italic;
  margin: 5px;
  opacity: 0.75;
  padding: 5px;
  font-size: 0.9em;
}
/* line 341, ../sass/specific/_mainView.scss */
#postList > .post .postActions {
  border-bottom: 1px solid black;
  position: absolute;
  height: 100%;
  width: 340px;
  right: 0;
  -webkit-transform: translate3d(300px, 0px, 0px);
  -moz-transform: translate3d(300px, 0px, 0px);
  -ms-transform: translate3d(300px, 0px, 0px);
  -o-transform: translate3d(300px, 0px, 0px);
  transform: translate3d(300px, 0px, 0px);
  -webkit-transition: -webkit-transform 400ms ease-out;
  -moz-transition: -moz-transform 400ms ease-out;
  -o-transition: -o-transform 400ms ease-out;
  transition: transform 400ms ease-out;
  background-color: #1e1e1e;
  top: 0;
  -webkit-box-shadow: -3px 0 2px 0 #151515;
  -moz-box-shadow: -3px 0 2px 0 #151515;
  box-shadow: -3px 0 2px 0 #151515;
}
/* line 363, ../sass/specific/_mainView.scss */
#postList > .post .postActions .dots {
  font-size: 1em;
  height: 100%;
  color: #ccc;
  white-space: nowrap;
  height: 100%;
}
/* line 371, ../sass/specific/_mainView.scss */
#postList > .post .postActions .dots p {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 35px;
  margin-top: 15px;
}
/* line 378, ../sass/specific/_mainView.scss */
#postList > .post .postActions .actions {
  padding: 2%;
  text-align: center;
  background-color: #4a4848;
  height: 100%;
  border-left: 1px solid #777;
}
/* line 385, ../sass/specific/_mainView.scss */
#postList > .post .postActions .actions li {
  padding: 4% 5px;
  font-size: 1.2em;
  margin: 5px 0;
  background: #666;
}
/* line 394, ../sass/specific/_mainView.scss */
#postList > .post .postActions.extended {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: -webkit-transform 400ms ease-out;
  -moz-transition: -moz-transform 400ms ease-out;
  -o-transition: -o-transform 400ms ease-out;
  transition: transform 400ms ease-out;
}

@media all and (max-width: 600px) {
  /* line 406, ../sass/specific/_mainView.scss */
  #topicList > .topic .row {
    height: 100%;
    margin: 0;
    position: relative;
  }
  /* line 410, ../sass/specific/_mainView.scss */
  #topicList > .topic .row .columns {
    height: auto;
  }
  /* line 416, ../sass/specific/_mainView.scss */
  #topicList .topicName {
    height: 75%;
    width: 100%;
  }
  /* line 421, ../sass/specific/_mainView.scss */
  #topicList .topicInner {
    display: block;
    position: relative;
    padding-left: 0;
  }
  /* line 426, ../sass/specific/_mainView.scss */
  #topicList .topicInner span {
    display: block;
  }
  /* line 431, ../sass/specific/_mainView.scss */
  #topicList .topicInfo {
    padding-bottom: 5px;
    background: #222;
    padding-top: 0;
    height: auto;
    position: absolute;
    bottom: 0;
    background-color: inherit;
    color: #7a7a7a;
    width: 100%;
  }
  /* line 444, ../sass/specific/_mainView.scss */
  #topicList .topicInfo ul > li {
    float: right;
    width: 30%;
    height: auto;
  }
  /* line 445, ../sass/specific/_mainView.scss */
  #topicList .topicInfo ul > li:last-child {
    width: 40%;
  }

  /* line 456, ../sass/specific/_mainView.scss */
  .controlActionButton {
    min-width: 50px;
  }
  /* line 461, ../sass/specific/_mainView.scss */
  .controlActionButton.reply:after, .controlActionButton.newTopic:after {
    content: "✎";
  }
  /* line 467, ../sass/specific/_mainView.scss */
  .controlActionButton.Next.Page:after {
    content: ">";
  }
  /* line 473, ../sass/specific/_mainView.scss */
  .controlActionButton.Previous.Page:after {
    content: "<";
  }
  /* line 479, ../sass/specific/_mainView.scss */
  .controlActionButton.Last.Page:after {
    content: ">>";
  }
  /* line 485, ../sass/specific/_mainView.scss */
  .controlActionButton.First.Page:after {
    content: "<<";
  }
  /* line 490, ../sass/specific/_mainView.scss */
  .controlActionButton.refresh {
    padding-top: 0.55em;
  }

  /* line 495, ../sass/specific/_mainView.scss */
  .panel {
    width: 90%;
  }
}
