.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hideText {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.inputBlockLevel {
  display: block;
  width: 100%;
  min-height: 30px;

  @include box-sizing(border-box);
}
form {
  margin: 0 0 20px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 15px;
  color: #999999;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditableInput {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  @include border-radius($stdBorderRadius);
  vertical-align: middle;
}
input,
textarea,
.uneditableInput {
  width: 206px;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditableInput {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  @include transition(border linear .2s, box-shadow linear .2s);
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditableInput:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6));
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
select {
  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.uneditableInput,
.uneditableTextarea {
  color: #999999;
  background-color: #fcfcfc;
  border-color: #cccccc;
  @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.025));
  cursor: not-allowed;
}
.uneditableInput {
  overflow: hidden;
  white-space: nowrap;
}
.uneditableTextarea {
  width: auto;
  height: auto;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.inputMini {
  width: 60px;
}
.inputSmall {
  width: 90px;
}
.inputMedium {
  width: 150px;
}
.inputLarge {
  width: 210px;
}
.inputXlarge {
  width: 270px;
}
.inputXxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditableInput[class*="span"],
.rowFluid input[class*="span"],
.rowFluid select[class*="span"],
.rowFluid textarea[class*="span"],
.rowFluid .uneditableInput[class*="span"] {
  float: none;
  margin-left: 0;
}
.inputAppend input[class*="span"],
.inputAppend .uneditableInput[class*="span"],
.inputPrepend input[class*="span"],
.inputPrepend .uneditableInput[class*="span"],
.rowFluid input[class*="span"],
.rowFluid select[class*="span"],
.rowFluid textarea[class*="span"],
.rowFluid .uneditableInput[class*="span"],
.rowFluid .inputPrepend [class*="span"],
.rowFluid .inputAppend [class*="span"] {
  display: inline-block;
}
input,
textarea,
.uneditableInput {
  margin-left: 0;
}
.controlsRow [class*="span"] + [class*="span"] {
  margin-left: 20px;
}
.controlsRow {
  *zoom: 1;
}
.controlsRow:before,
.controlsRow:after {
  display: table;
  content: "";
  line-height: 0;
}
.controlsRow:after {
  clear: both;
}
.controlsRow [class*="span"],
.rowFluid .controlsRow [class*="span"] {
  float: left;
}
.controlsRow .checkbox[class*="span"],
.controlsRow .radio[class*="span"] {
  padding-top: 5px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
.controlGroup.warning .controlLabel,
.controlGroup.warning .helpBlock,
.controlGroup.warning .helpInline {
  color: #c09853;
}
.controlGroup.warning .checkbox,
.controlGroup.warning .radio,
.controlGroup.warning input,
.controlGroup.warning select,
.controlGroup.warning textarea {
  color: #c09853;
}
.controlGroup.warning input,
.controlGroup.warning select,
.controlGroup.warning textarea {
  border-color: #c09853;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
}
.controlGroup.warning input:focus,
.controlGroup.warning select:focus,
.controlGroup.warning textarea:focus {
  border-color: #a47e3c;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e);
}
.controlGroup.warning .inputPrepend .addOn,
.controlGroup.warning .inputAppend .addOn {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.controlGroup.error .controlLabel,
.controlGroup.error .helpBlock,
.controlGroup.error .helpInline {
  color: #b94a48;
}
.controlGroup.error .checkbox,
.controlGroup.error .radio,
.controlGroup.error input,
.controlGroup.error select,
.controlGroup.error textarea {
  color: #b94a48;
}
.controlGroup.error input,
.controlGroup.error select,
.controlGroup.error textarea {
  border-color: #b94a48;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
}
.controlGroup.error input:focus,
.controlGroup.error select:focus,
.controlGroup.error textarea:focus {
  border-color: #953b39;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392);
}
.controlGroup.error .inputPrepend .addOn,
.controlGroup.error .inputAppend .addOn {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.controlGroup.success .controlLabel,
.controlGroup.success .helpBlock,
.controlGroup.success .helpInline {
  color: #468847;
}
.controlGroup.success .checkbox,
.controlGroup.success .radio,
.controlGroup.success input,
.controlGroup.success select,
.controlGroup.success textarea {
  color: #468847;
}
.controlGroup.success input,
.controlGroup.success select,
.controlGroup.success textarea {
  border-color: #468847;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
}
.controlGroup.success input:focus,
.controlGroup.success select:focus,
.controlGroup.success textarea:focus {
  border-color: #356635;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b);
}
.controlGroup.success .inputPrepend .addOn,
.controlGroup.success .inputAppend .addOn {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
.controlGroup.info .controlLabel,
.controlGroup.info .helpBlock,
.controlGroup.info .helpInline {
  color: #3a87ad;
}
.controlGroup.info .checkbox,
.controlGroup.info .radio,
.controlGroup.info input,
.controlGroup.info select,
.controlGroup.info textarea {
  color: #3a87ad;
}
.controlGroup.info input,
.controlGroup.info select,
.controlGroup.info textarea {
  border-color: #3a87ad;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
}
.controlGroup.info input:focus,
.controlGroup.info select:focus,
.controlGroup.info textarea:focus {
  border-color: #2d6987;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3);
}
.controlGroup.info .inputPrepend .addOn,
.controlGroup.info .inputAppend .addOn {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  @include box-shadow(0 0 6px #f8b9b7);
}
.formActions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}
.formActions:before,
.formActions:after {
  display: table;
  content: "";
  line-height: 0;
}
.formActions:after {
  clear: both;
}
.helpBlock,
.helpInline {
  color: #595959;
}
.helpBlock {
  display: block;
  margin-bottom: 10px;
}
.helpInline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
}
.inputAppend,
.inputPrepend {
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
}
.inputAppend input,
.inputPrepend input,
.inputAppend select,
.inputPrepend select,
.inputAppend .uneditableInput,
.inputPrepend .uneditableInput,
.inputAppend .dropdownMenu,
.inputPrepend .dropdownMenu {
  font-size: 14px;
}
.inputAppend input,
.inputPrepend input,
.inputAppend select,
.inputPrepend select,
.inputAppend .uneditableInput,
.inputPrepend .uneditableInput {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  @include border-radius(0 $stdBorderRadius $stdBorderRadius 0);
}
.inputAppend input:focus,
.inputPrepend input:focus,
.inputAppend select:focus,
.inputPrepend select:focus,
.inputAppend .uneditableInput:focus,
.inputPrepend .uneditableInput:focus {
  z-index: 2;
}
.inputAppend .addOn,
.inputPrepend .addOn {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.inputAppend .addOn,
.inputPrepend .addOn,
.inputAppend .btn,
.inputPrepend .btn,
.inputAppend .btnGroup > .dropdownToggle,
.inputPrepend .btnGroup > .dropdownToggle {
  vertical-align: top;
  @include border-radius(0);
}
.inputAppend .active,
.inputPrepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}
.inputPrepend .addOn,
.inputPrepend .btn {
  margin-right: -1px;
}
.inputPrepend .addOn:first-child,
.inputPrepend .btn:first-child {
  @include border-radius($stdBorderRadius 0 0 $stdBorderRadius);
}
.inputAppend input,
.inputAppend select,
  .inputAppend .uneditableInput {
  @include border-radius($stdBorderRadius 0 0 $stdBorderRadius);
}
.inputAppend input + .btnGroup .btn:last-child,
.inputAppend select + .btnGroup .btn:last-child,
.inputAppend .uneditableInput + .btnGroup .btn:last-child {
  @include border-radius(0 $stdBorderRadius $stdBorderRadius 0);
}
.inputAppend .addOn,
.inputAppend .btn,
.inputAppend .btnGroup {
  margin-left: -1px;
}
.inputAppend .addOn:last-child,
.inputAppend .btn:last-child,
.inputAppend .btnGroup:last-child > .dropdownToggle {
  @include border-radius(0 $stdBorderRadius $stdBorderRadius 0);
}
.inputPrepend.inputAppend input,
.inputPrepend.inputAppend select,
.inputPrepend.inputAppend .uneditableInput {
  @include border-radius(0);
}
.inputPrepend.inputAppend input + .btnGroup .btn,
.inputPrepend.inputAppend select + .btnGroup .btn,
.inputPrepend.inputAppend .uneditableInput + .btnGroup .btn {
  @include border-radius(0 $stdBorderRadius $stdBorderRadius 0);
}
.inputPrepend.inputAppend .addOn:first-child,
.inputPrepend.inputAppend .btn:first-child {
  margin-right: -1px;
  @include border-radius($stdBorderRadius 0 0 $stdBorderRadius);
}
.inputPrepend.inputAppend .addOn:last-child,
.inputPrepend.inputAppend .btn:last-child {
  margin-left: -1px;
  @include border-radius(0 $stdBorderRadius $stdBorderRadius 0);
}
.inputPrepend.inputAppend .btnGroup:first-child {
  margin-left: 0;
}
input.searchQuery {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  @include border-radius($bigBorderRadius);
}
/* Allow for input prepend/append in search forms */
.formSearch .inputAppend .searchQuery,
.formSearch .inputPrepend .searchQuery {
  @include border-radius(0);
}
.formSearch .inputAppend .searchQuery {
  @include border-radius(0 $bigBorderRadius $bigBorderRadius 0);
}
.formSearch .inputAppend .btn {
  @include border-radius(0 $bigBorderRadius $bigBorderRadius 0);
}
.formSearch .inputPrepend .searchQuery {
  @include border-radius(0 $bigBorderRadius $bigBorderRadius 0);
}
.formSearch .inputPrepend .btn {
  @include border-radius($bigBorderRadius 0 0 $bigBorderRadius);
}
.formSearch input,
.formInline input,
.formHorizontal input,
.formSearch textarea,
.formInline textarea,
.formHorizontal textarea,
.formSearch select,
.formInline select,
.formHorizontal select,
.formSearch .helpInline,
.formInline .helpInline,
.formHorizontal .helpInline,
.formSearch .uneditableInput,
.formInline .uneditableInput,
.formHorizontal .uneditableInput,
.formSearch .inputPrepend,
.formInline .inputPrepend,
.formHorizontal .inputPrepend,
.formSearch .inputAppend,
.formInline .inputAppend,
.formHorizontal .inputAppend {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 0;
  vertical-align: middle;
}
.formSearch .hide,
.formInline .hide,
.formHorizontal .hide {
  display: none;
}
.formSearch label,
.formInline label,
.formSearch .btnGroup,
.formInline .btnGroup {
  display: inline-block;
}
.formSearch .inputAppend,
.formInline .inputAppend,
.formSearch .inputPrepend,
.formInline .inputPrepend {
  margin-bottom: 0;
}
.formSearch .radio,
.formSearch .checkbox,
.formInline .radio,
.formInline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.formSearch .radio input[type="radio"],
.formSearch .checkbox input[type="checkbox"],
.formInline .radio input[type="radio"],
.formInline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}
.controlGroup {
  margin-bottom: 10px;
}
legend + .controlGroup {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}
.formHorizontal .controlGroup {
  margin-bottom: 20px;
  *zoom: 1;
}
.formHorizontal .controlGroup:before,
.formHorizontal .controlGroup:after {
  display: table;
  content: "";
  line-height: 0;
}
.formHorizontal .controlGroup:after {
  clear: both;
}
.formHorizontal .controlLabel {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}
.formHorizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}
.formHorizontal .controls:first-child {
  *padding-left: 180px;
}
.formHorizontal .helpBlock {
  margin-bottom: 0;
}
.formHorizontal input + .helpBlock,
.formHorizontal select + .helpBlock,
.formHorizontal textarea + .helpBlock,
.formHorizontal .uneditableInput + .helpBlock,
.formHorizontal .inputPrepend + .helpBlock,
.formHorizontal .inputAppend + .helpBlock {
  margin-top: 10px;
}
.formHorizontal .formActions {
  padding-left: 180px;
}
